# Ignore Visual Studio temporary files, build results, and
# user-specific files

# Build results
bin/
obj/
Properties/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.sln

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# NuGet
*.nupkg
*.snupkg

# Others
*.log
*.DS_Store
Thumbs.db
